.table-wrapper {
    margin-top: 2rem !important;
    width: fit-content;
    max-width: 85%;
    overflow: auto;
    margin: auto;
    max-height: 450px;
    scrollbar-color: var(--color-primary) var(--color-gray-300);
    scrollbar-width: thin;
}

.table-wrapper table{
    margin: auto;
}

.table-wrapper table th,
table td {
    white-space: nowrap;
    border-right: 1px solid var(--color-gray-300);
    padding: .5rem 1rem;
}
.table-wrapper table thead{
    background-color: var(--color-secondary);
    color: var(--color-white);
    position: sticky;
    top: 0;
}

.table-wrapper table tbody tr:nth-child(even){
    background-color: var(--color-gray-300);
}