.search-box {
    margin-top: 2rem !important;
    width: fit-content;
    max-width: 85%;
    overflow: auto;
    margin: auto;
    max-height: 450px;
    scrollbar-color: var(--color-primary) var(--color-gray-300);
    scrollbar-width: thin;
}

.search-box input{
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-primary);
}

.search-box button{
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    border: 1px solid var(--color-secondary);
    margin-left: var(--space-xs);
}