@import "./root.css";
/* @import "./features/drag-drop/dragDrop.css";
@import "./features/table/table.css"; */


html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
  box-sizing: border-box;
}